//Contenedor

/*flex-container*/
.flex-container {
display: flex;
align-items: flex-start;
justify-content: space-between;
//border: solid $color-secundario;
//background-color: $container;
}

//actualizado