//ubicaciones

/*ubicaciones*/
.flex-ubicaciones {
    max-width: 90%;
    padding: 0%;
    display: flex;
    margin: 10%;
}

.flex-revendedores {
    padding: 0px;
    max-width: 90%;
    display: flex;
    margin: 10%;
}