//ubicaciones

/*ubicaciones*/
.flex-ubicaciones {
    max-width: 90%;
    padding: 0%;
    display: flex;
    margin: 10%;
}

.flex-revendedores {
    padding: 0;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    overflow: hidden;
    iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}
}

//actualizado